body {
    font-family: sans-serif;
    font-weight: 700;
    color: #ddd;
    background-color: #222;
    overflow: hidden;
}

.centery {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.info {
    display: inline-block;
    text-align: center;
    width: 100%;
    white-space: nowrap;
}

.line {
    display: inline-block;
    width: max-content;
}

.cet {
    display: inline-block;
}

.smal {
    transform: scale(90%);
}

.canvy {
    object-fit: contain;
    width: 960px;
    height: 540px;
}

.teixt {
    position: absolute;
    width: 5em;
    right: inherit;
}